.weather-app-wrapper {
max-width: 800px;
margin: 20px auto;
}

.weather-app {  
margin: 20px auto;
padding: 20px;
border: 1px solid #80ced6;
border-radius: 5px;
background-color: #80ced6;
color: #061c2d;
}

.search-button {
background-color: blue ;
border: 1px solid blue ;
}

.search-button:hover {
background-color: #061c2d ;
border: 1px solid #061c2d ;
}

.location-button {
background-color:green ;
border: 1px solid green ;
}
    
.location-button:hover {
background-color: blue ;
border: 1px solidblue ;
}

h1 {
font-size: 26px;
}

li {
list-style: none;
text-align: end;
}

li::first-letter {
text-transform: capitalize;
}

p {
font-size: small;
margin-top: -10px;
}

a {
color:blue;
font-size: small;
}

a:hover {
color: #061c2d;
}

.current-temperature {
 font-weight: 300;
 font-size: 25px;
 cursor: pointer;
 color: #6206e3;
 text-decoration: none;
 cursor: pointer; 
 line-height: 1.5em;
}
}

.units {
font-size: 22px;
}

.current-date {
font-weight: bold;
}

.active {
color: red;
cursor: default;
text-decoration: none;
font-size: 25x;
font-weight: 300;
color: #2a0163;  
}

.weather-search {
margin-top: 20px;
}

.weather-forecast {
margin-top:20px;
text-align:center;
}

.weather-forecast-date {
font-size: 16px;
}

.weather-forecast-temperature-min {
opacity: 0.5;
}




